/*Importar las fuentes de texto*/
@font-face {
  font-family: "LaTeX-font";
  src: url(fonts/LaTeX-font.otf);
}

@font-face {
  font-family: "Manti Sans";
  src: url(fonts/manti-sans.otf);
}

html {
  scroll-behavior: smooth;
}

/*Establecer propiedades generales*/
:root {
  --delta: #b8860b;
}

body {
  background-color: black;
  color: var(--delta);
  font-family: "LaTeX-font";
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1300%;
  margin: 0px;
}

h2 {
  font-size: 400%;
  text-align: left;
  margin-left: 180px;
}

p {
  font-size: 150%;
  margin-left: 200px;
  margin-right: 200px;
}

/*Configurar contenedores y imágenes*/
#main-logo {
  width: 32%;
  margin: 0;
  z-index: 1
}

#contenedor-titulo {
  position: fixed;
  width: 100%;
  left: 0;
  place-items: center;
}

#contenedor-logo {
  position: fixed;
  height: 400hv;
  width: 100%;
  top: 200px;
  left: 0;
  place-items: center;
  transition: transform 0.8s linear;
}

/*Propiedades de la flecha y sus animaciones*/
#flecha {
  position: fixed;
  height: 60px;
  margin-top: 92vh;
}

#flecha {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 0.5s infinite  alternate;
}
#flecha {
  -webkit-animation: mover 0.5s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

#espacio {
  height: 190vh;
}

#texto {
  position: relative;
  z-index: 2;
}